/*Font Variables*/
.stint-ultra {
  font-family: "Stint Ultra Condensed", serif;
  font-weight: 400;
  font-style: normal;
}

.indie-flower-regular {
  font-family: "Indie Flower", cursive;
  font-weight: 400;
  font-style: normal;
}

/*[VIEWERS]DO NOT MODIFIY COPY RAW FILE FOR NEED TO MODIFY*/
/* General Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: Franklin Lucida Console  sans-serif;
}

body {
    background-color: white;
    color: #333;
    width: 100%;
    height: 100vh;
}

/* Header */

header {
    background-color: white;
    padding: 0px;
    background: black;
}

.acc-logo {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    border: 2px solid black;
    animation-name: descend;
    animation-timing-function: linear;
    animation-duration: 3.5s;
    animation-iteration-count: 1;
}

/*Start of Nav links*/
.nav-item {
    font-size: 1.6rem;
    color: white;
}
.nav-item > a {
    color: white;
    font-family: "Stint Ultra Condensed", serif;
}

.nav-item > .nav-link:hover {
    color: white;
}

.nav-item > .nav-link:visited {
    color: white;
}

.brand {
    font-family: "Stint Ultra Condensed", serif;
    font-size: 2rem;
    color: white;
}

/* slogan Section */
.slogan-container {
    background: url(/Assets/main.jpg) no-repeat center center/cover;
}

.slogan {
    background: url(Assets/mom.jpg) no-repeat center center/cover;
    height: 600px;
    width: 100%;
    color: black;
    text-align: center;
    box-shadow: 0 0 6px 2.5px gray;
    border-radius: 5px;
}

.slogan-title {
    text-shadow: 0 0 5px white;
    font-size: 3.7rem;
    font-weight: 400;
    font-family: "Stint Ultra Condensed", serif;
}

.slogan-text {
    font-size: 2rem;
    text-shadow: 0 0 5px white;
    font-weight: 200;
    font-family: "Stint Ultra Condensed", serif;
}


/* Menu Section */
.menu-container {
    background: url(Assets/bean\ pattern.jpg) no-repeat center center/cover;
}

.menu-title {
    font-family: "Stint Ultra Condensed", serif;
    font-size: 4rem;
    text-shadow: 0 0 5px white;
    font-weight: 300;
}
.menu-slogan {
    font-family: "Stint Ultra Condensed", serif;
    font-size: 2rem;
    text-shadow: 0 0 5px white;
    font-weight: 300;
}

.menu-subtitle {
    font-family: "Stint Ultra Condensed", serif;
    font-size: 2.3rem;
    text-decoration: underline;
}


.menu-text {
    font-family: "Indie Flower", cursive;
    font-size: 1.5rem;
    font-weight: 600;
}

.menu-price-right {
    float: right;
    font-family: "Stint Ultra Condensed", serif;
    font-size: 1.7rem;
    font-weight: 400;
}

.card-description {
    font-family: "Stint Ultra Condensed", serif;
    font-size: 1.5rem;
}

.tax-memo {
    font-family: "Stint Ultra Condensed", serif;
    font-size: 1.3rem;
}

.menu-memo {
    font-family: "Stint Ultra Condensed", serif;
    font-size: 1.3rem;
}

/*Catering section*/
.cater-container {
    background: url(Assets/bean\ pattern.jpg) no-repeat center center/cover;
}

.cater-img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 0 5px 2px black;
}

.cater-title {
    font-family: "Indie Flower", cursive;
    font-size: 2rem;
    font-weight: 600;
    text-shadow: 0 0 5px white; 
}

.cater-text {
    font-family: "Stint Ultra Condensed", serif;
    font-size: 1.7rem; 
    text-shadow: 0 0 5px white; 
    font-weight: 600;
    letter-spacing: 0.1rem;
}

.cater-list-item {
    font-family: "Stint Ultra Condensed", serif;
    font-size: 1.5rem;
    text-shadow: 0 0 5px white; 
    font-weight: 600;
    letter-spacing: 0.2rem;
}

.cater-email {
    font-family: "Stint Ultra Condensed", serif;
    font-size: 1.5rem;
    text-shadow: 0 0 5px white; 
    text-decoration: underline;
    font-weight: 600;
    letter-spacing: 0.2rem;
}



/*Review styling*/

.review-container {
    background: url(Assets/main.jpg) no-repeat center center/cover;
}

.review-title {
    color: white;
    font-size: 3.3rem;
    font-family: "Stint Ultra Condensed", serif;
}

.review-source {
    color: red;
}

.review-slogan {
    color: white;
    font-size: 2rem;
    font-family: "Stint Ultra Condensed", serif;
}

.review-btn-container {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.google-review-btn {
    background: linear-gradient(to right, #B0EBB4, #A0DEFF);
    color: white;
    padding: 5px 5px;
    border-radius: 5px;
    font-size: 1.5em;
    margin: 10px;
    text-shadow: 0 0 5px black;
}

.yelp-review-btn {
    background: linear-gradient(to right, #B0EBB4, #A0DEFF);
    color: white;
    padding: 5px 5px;
    border-radius: 5px;
    font-size: 1.5em;
    margin: 10px;
    text-shadow: 0 0 5px black;
}

.leave-review-slogan {
    font-size: 2.3em;
    color: white;
    margin-bottom: 20px;
    font-family: "Stint Ultra Condensed", serif;
    text-shadow: 0 0 5px white;
}

button > a {
    text-decoration: none;
    color: white;
    font-family: "Stint Ultra Condensed", serif;
}

button > a:visited {
    color: gold;
}

/* Footer */
.footer-container {
    background: url(Assets/main.jpg) no-repeat center center/cover;
}

.footer-img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.footer-title {
    color: white;
    font-weight: 600;
    text-shadow: 0 0 5px black;
    font-family: "Stint Ultra Condensed", serif;
    letter-spacing: 0.2rem;
}

.dev-socials {
    text-decoration: none;
    font-size: 1.4rem;
    font-family: "Stint Ultra Condensed", serif;
    letter-spacing: 0.2rem;
    color: burlywood;
    font-weight: 500;
    text-shadow: 0 0 5px black;
}

.address {
    text-decoration: none;
    font-size: 1.4rem;
    font-family: "Stint Ultra Condensed", serif;
    letter-spacing: 0.2rem;
    color: burlywood;
    font-weight: 500;
    text-shadow: 0 0 5px black;
}

.footer-text {
    color: white;
    font-size: 1.4rem;
    font-family: "Stint Ultra Condensed", serif;
    text-shadow: 0 0 5px black;
}

.footer-memo-title {
    color: burlywood;
    font-weight: 600;
    text-shadow: 0 10px 5px black;
}

.footer-memo {
    color: burlywood;
    font-weight: 600;
    text-shadow: 0 5px 5px black;
}

/*Animations*/
@keyframes descend {
    0% {transform: scale(0);}
    100% {transform: scale(1);}
}

@keyframes blink {
    0% {opacity: 0.5;}
    50% {opacity: 1; }
    100% {opacity: 0;}
}
/*Media Response*/
/*FINISH MEDIA QUERIES BY THE END OF THE WEEK DELETE UPDATE CSS AND HTML REPLACE IT WITH AN ERROR FUNCTION WHEN NEEDED.*/
@media (min-width: 320px) and (max-width: 360px) {
    .acc-logo {
    width: 120px;
    height: 120px;
   }
   .nav-links {
    display: block;
    font-size: 0.7em;
    margin: 0px;
   }
}

@media (min-width: 375px) and (max-width: 600px) {
   .acc-logo {
    width: 70px;
    height: 70px;
   }
   .nav-links {
    display: block;
    font-size: 0.7em;
    margin: 0px;
   }
   .navbar-toggler-icon {
    background-color: white;
    border-radius: 5px;
   }
   .menu-slogan {
    justify-content: center;
    align-items: center;
    font-size: 1.6rem;
   }
   .card-text {
    font-size: 1rem;
   }
   .menu-title {
    font-size: 2.5rem;
   }
   .menu-price-right {
    font-size: 1.1rem;
   }
   .menu-subtitle {
    font-size: 1.7rem;
   }
   .slogan-content h2  {
    font-size: 2em;
   }
   .slogan-content p {
    font-size: 1em;
   }
   .slogan-content .btn {
    font-size: 1em;
   }
   .menu h2 {
    font-size: 1.8em;
   }
   .item {
    font-size: 0.8em;
   }
   .cater-content-container {
    flex-direction: column;
   }
   .catering-title {
    font-size: 1.5rem;
   }
   .review-title {
    font-size: 2em;
   }
   .review-slogan {
    font-size: 1.4rem;
   }
   .footer-logo {
    width: 50px;
    height: 50px;
   }
   footer {
    font-size: 1.2em;
   }
   .footer-memo {
    font-size: 0.8rem;
   }
   .google-review-btn, .yelp-review-btn {
    font-size: 0.8em;
    padding: 5px 10px;
   }
   .leave-review-slogan {
    font-size: 1.2em;
    color: white;
}
.footer-memo-title {
    font-size: 1.4rem;
}


}

@media (min-width: 481px) and (max-width: 767px){
    .catering-background {
        height: 500px;
    }
    .catering-title {
        font-size: 1.5rem;
    }
    .cater-subtitle, .cater-slogan-text, .price-title, .price-right, .cater-contact-text {
        font-size: 1rem;
    }
}

@media (min-width: 768px) and (max-width: 991px){}
